<h1>Inside pages/home navigation page</h1>
<b><p>Name : Sahiti Lalama Indrakanti <br>  Student ID: 84206 <br>Class: CS640 </p></b>

<b>  WebSecurity Professor: Kranthi Kumar</b><br>
<b>  Knowledge Gained:</b> This gave a good introduction to following topics: <br>
          1) Switches, Routers, Firewalls<br>
          2) Cryptography, RSA algorithms<br>
          3) GitHub, Heroku configurations and concepts. <br>
